.bg-custom{
    background:#424242;
    
}


.navbar .nav-item .nav-link{
    font-size:20px;
    color:white;
}
.navbar-custom .nav-item:hover .nav-link{
    background:white;
    color:black;
    border-radius:10px;
    
}


